<p>Добро пожаловать!</p>

<p>Вы успешно зарегистрировались на сайте langtrainer.com</p>

<p>Чтобы войти на сайт, просто перейдите по ссылке: <%= link_to(@url, @url) %></p>

<p>Спасибо за регистрацию, удачного дня!</p>
