input, textarea {
  font-family: Arial, sans-serif;
}

#highlighted > .container {
  padding: 10px 0;
}

body a, a:active, a:focus, a:hover {
  &.disabled {
    & .fa {
      color: gray;
    }
    color: gray;
  }
}

#yashare {
  margin-top: -5px;
}

.navbar-right {
  float: right;
  margin: 20px 0 0 0;
}
