@font-face {
  font-family: "Kelson-Regular";
  src:font-url("Kelson/Kelson-Sans-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kelson-Bold";
  src:font-url("Kelson/Kelson-Sans-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Kelson-Regular", Arial, serif;
}

strong {
  font-family: "Kelson-Bold";
  font-weight: normal;
}

.sticky span.with-translation {
  font-family: "Kelson-Bold";
  font-weight: normal;
}

//#content {
  //h1, h2, h3 {
    //font-family: "Kelson-Bold";
    //font-weight: normal;
  //}
//}

// Чтобы отображался текст, стилизованный загружаемыми в данный момент шрифтами
.wf-loading {
  h1, h2, h3, a, p, span {
    font-family: Arial, Serif;
  }
}

