meta name='viewport' content='width=device-width, initial-scale=1.0'
= stylesheet_link_tag 'application', :media => 'all'
= javascript_include_tag 'application'
= styx_initialize
link rel='shortcut icon' href=asset_path('favicon.ico')
= display_meta_tags site: t(:app_name), description: t(:app_description), keywords: 'Leitner, Leitner system, Sebastian Leitner, flashcards, spaced repetition, learning foreign language, foreign language, english, russian, foreign, language, exercises, learn, Лейтнер, система Лейтнера, иностранные языки, английский язык, самоучитель', separator: '–', reverse: false
= csrf_meta_tags
