meta name='viewport' content='width=device-width, initial-scale=1.0'
= Gon::Base.render_data({})
= stylesheet_link_tag 'application', :media => 'all'
= javascript_include_tag 'application'
link rel='shortcut icon' href=asset_path('favicon.ico')
= display_meta_tags site: t(:app_name), description: t(:app_description)
= csrf_meta_tags
