meta name='viewport' content='width=device-width, initial-scale=1.0'
= Gon::Base.render_data({})
= stylesheet_link_tag 'application', :media => 'all'
= javascript_include_tag 'application'
link rel='shortcut icon' href=asset_path('favicon.ico')
= display_meta_tags site: t(:app_name), description: t(:app_description), keywords: 'Leitner, Pimsleur, Leitner system, Sebastian Leitner, flashcards, spaced repetition, spaced rehearsal, expanding rehearsals, graduated intervals, repetition spacing, repetition scheduling, spaced interval, expanded interval, learning foreign language, foreign language, english, russian, foreign, language, exercises, learn, Лейтнер, система Лейтнера, иностранные языки, английский язык, интервальное повторение, Пимслер, самоучитель', separator: '–', reverse: false
= csrf_meta_tags
